* {
  margin: 0.5rem;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-botao: blueviolet;
  --cor-bordas: rgb(58, 11, 102);
  --cor-focus: rgb(191, 154, 226);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

strong {
  font-weight: 600;
}

.formulario {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

.grupo {
  width: 60%;
  height: auto;
  border: 1px solid var(--cor-bordas);
  border-radius: 12px;
  font-size: 0.9rem;
  color: blueviolet;
  margin-left: auto;
  margin-right: auto;
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6,
.topo__formulario {
  margin-left: auto;
  margin-right: auto;
}
/* Resolver problema de cor no campo de digitação com ajuda das ferramentas de contraste e leitura*/
.grupo input {
  border: 1px solid var(--cor-bordas);
  border-radius: 8px;
  color: rgb(255, 10, 255);
  width: 80%;
  height: 2rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

.grupo input:focus {
  background-color: var(--cor-focus);
  border: 1px solid var(--cor-bordas);
}
.grupo input::placeholder {
  font-family: sans-serif;
  margin-left: 1rem;
}

.grupo label {
  align-items: center;
}

.formulario__botoes {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.formulario__cancelar {
  width: 120px;
  height: 32px;
  border-radius: 4px;
  background-color: var(--cor-botao);
  border: 1px solid var(--cor-bordas);
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.formulario__enviar {
  background-color: var(--cor-bordas);
  border: 1px solid var(--cor-botao);
  border-radius: 4px;
  width: 120px;
  height: 32px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

hr {
  width: 75%;
  margin: auto;
}

.lista__pets {
  width: 280px;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
}

ul li {
  border: solid 1px var(--cor-bordas);
  border-radius: 8px;
}

.container__botoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mensagem-vazia {
}
